h1 {
    font-size: 2.28rem; }

h2 {
    font-size: 1.79rem; }

h3 {
    font-size: 1.51rem; }

h4 {
    font-size: 1.26rem; }

h5 {
    font-size: 0.98rem; }

h6 {
    font-size: 0.63rem; }

section ul {list-style-type: disc;}

article section.page h1:first-of-type {
    text-transform: none;
}

